<footer style="width: 100%;">
    <div class="row" id="footerTop">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-4" id="iconosF">
                    <h3>Wanna Talk?</h3>
                    <img src="/img/phone_banner.png" alt="phone" width="20px">
                    <p>5527729918</p>
                    <img src="/img/email_banner.png" alt="" width="20px">
                    <p>nechersan@yahoo.com</p>
                    <img src="/img/instagram_banner.png" alt="" width="20px">
                    <p>@nellychersan</p>
                    <img src="/img/linkedin_banner.png" alt="" width="20px">
                    <p>/nellyherrera</p>
                </div>

                <div class="col-4">
                    <h3>Services</h3>
                    <p>customer support ninja</p>
                    <p>Web Developer</p>
                    <p>Web Designer</p>
                </div>

                <div class="col-4">
                    <h3>Newsletter</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum hic quidem a maiores eos autem
                        itaque
                        facilis tempore debitis iusto, delectus repellendus molestias unde reprehenderit suscipit vero
                        deserunt
                        sed obcaecati?</p>
                    <input type="email" placeholder="email" class="form-control" id="inputFooter">
                    <button type="button" class="btn btn-light" id="btnFooter">Send</button>
                </div>
            </div>
        </div>


    </div>
    <div class="row" id="footerBottom">
        <div class="col-12">
            <p>Chersan Inc.</p>
            <p>Copyright 2021</p>
            <p>All rights reserved</p>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>