<!DOCTYPE html>
<html lang="en">

{{!-- include template head --}}
{{> head}}

<body>
    {{!-- include template navbar --}}
    {{> navbar}}

    <h1>Welcome to my world</h1>

    {{!-- include template footer --}}
    {{> footer}}

</body>
</html>