<!DOCTYPE html>
<html lang="en">

{{!-- include template head --}}
{{> head}}

<body>
    {{!-- include template navbar --}}
    {{> navbar}}

    <div class="container-fluid">
        <div class="row" id="home">
            <div class="col-10 offset-1">
                <h1  class="display-2" style="margin-top: 300px; color:#fff">Hi! I am Nelly</h1>
                <p style="color: #fff;">Attached to nothing, connected with everything!</p>
            </div>
        </div>
        <div class="row" id="seccionAbout">
            <div class="col-10 offset-1">
                <div class="row" id="AboutPhoto">
                    <div class="col-6">
                        <img src="/img/profile_banner.png" alt="">
                    </div>

                    <div class="col-6">
                        <h1>About me</h1>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolorum autem id quasi
                            harum corrupti, odio fugiat doloremque corporis nisi amet saepe exercitationem voluptate
                            quidem quod, ad nemo assumenda cumque?</p>
                        <br>
                        <br>
                        <button type="button" class="btn btn-light" id="HiremeBtn">Hire Me</button>
                        <button type="button" class="btn btn-light" id="DownloadBtn">Download Resume</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="seccionEx">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-light" id="BtnEx" onclick="aboutMe('Experience')">Experience</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-light" id="BtnEx" onclick="aboutMe('Education')">Education</button>
                    </div>    
                    <div class="col-3">
                        <button type="button" class="btn btn-light" id="BtnEx" onclick="aboutMe('Skills')">Skills</button>
                    </div> 
                    <div class="col-3">
                        <button type="button" class="btn btn-light" id="BtnEx" onclick="aboutMe('Languages')">Languages</button>
                    </div>   
                </div>

                <div class="row aboutMe" id="rowEducation">
                    <div class="col-4" id="exCard">
                        <h5 style="color: #9587cb;">2013 </h5>
                        <h5 style="color: #9587cb;">B.S. Communications</h5>
                        <p style="color: #9587cb;">UVM</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                    <div class="col-4" id="exCard">
                        <h5 style="color: #9587cb;">2013 </h5>
                        <h5 style="color: #9587cb;">B.S. Communications</h5>
                        <p style="color: #9587cb;">UVM</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                    <div class="col-4" id="exCard">
                        <h5 style="color: #9587cb;">2013 </h5>
                        <h5 style="color: #9587cb;">B.S. Communications</h5>
                        <p style="color: #9587cb;">UVM</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                </div>

                <div class="row aboutMe" id="rowExperience">
                    <div class="col-4">
                        <img src="/img/experience_1.png" alt="" height="250px" style="margin-left: 50px;">
                        <h5 style="color: #9587cb;">2018 - </h5>
                        <h5 style="color: #9587cb;">Helpdesk Support</h5>
                        <p style="color: #9587cb;">Treshna Enterprises</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                    <div class="col-4">
                        <img src="/img/Experience 2.png" alt="" height="250px" style="margin-left: 50px;">
                        <h5 style="color: #9587cb;">2018 - </h5>
                        <h5 style="color: #9587cb;">Helpdesk Support</h5>
                        <p style="color: #9587cb;">Treshna Enterprises</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                    <div class="col-4">
                        <img src="/img/experience_3.png" alt="" height="250px" style="margin-left: 50px;">
                        <h5 style="color: #9587cb;">2018 - </h5>
                        <h5 style="color: #9587cb;">Helpdesk Support</h5>
                        <p style="color: #9587cb;">Treshna Enterprises</p>
                        <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam facilis consequuntur, fuga neque quas dolores veritatis praesentium itaque laudantium illo minima asperiores at ad exercitationem veniam dolorem, iste tempora.</p>
                    </div>
                </div>

                <div class="row aboutMe" id="rowSkills">
                    <div class="col-3" style="text-align: center;">
                        <canvas id="chartCSS" width="100%" height="150"></canvas>
                        <h1 style="color: #fff;">CSS</h1>
                    </div>

                    <div class="col-3" style="text-align: center;">
                        <canvas id="chartHTML" width="100%" height="400"></canvas>
                        <h1 style="color: #fff;">HTML5</h1>
                    </div>

                    <div class="col-3" style="text-align: center;">
                        <canvas id="chartJ" width="100%" height="400"></canvas>
                        <h1 style="color: #fff;">Jquery</h1>
                    </div>

                    <div class="col-3" style="text-align: center;">
                        <canvas id="chartN" width="100%" height="400"></canvas>
                        <h1 style="color: #fff;">Node</h1>
                    </div>
                </div>

                <div class="row aboutMe" id="rowLanguages">
                    <div class="col">
                        <h1 style="text-align: center; color:#fff;">Español</h1>
                        <p style="text-align: center; color:#fff;">Native</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#9587cb" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                    </div>
                    <div class="col">
                        <h1 style="text-align: center; color:#fff;">English</h1>
                        <p style="text-align: center; color:#fff;">Bilingual Proficency/Cambridge ESOL Level C2</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#9587cb" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h1 style="text-align: center; color:#fff;">日本語</h1>
                        <p style="text-align: center; color:#fff;">Level N5</p>
                        <div class="progress" style="background-color: rgba(60, 58, 66, 0.616);">
                        <div class="progress-bar" role="progressbar" style="width: 20%; background-color:#9587cb" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6" id="frase">
                <p class="lead" style="text-align: center; font-size: 50px;">Be excellent to each other!</p>
                <p class="lead" style="text-align: right;">- Wild Stallians.</p>
            </div>

            <div class="col-6" id="fraseImg">
                <img class="img-fluid" src="/img/1.png" width="100%">
            </div>
        </div>

        <div class="row" id="services">
            <div class="col-10 offset-1">
                <h1 class="display-4">Services</h1>

                <div class="row" id="servicesCards">
                    <div class="col-4">
                        <div class="row contentCardService">
                            <div class="col-12 cardsServices">
                                <img src="/img/web_development.png" alt="development" class="servicesImg">
                                <h4 style="text-align: center;">Web Development</h4>
                                <br>
                                <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
                                    commodi! Iusto, cumque. Non mollitia iure impedit ipsam.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row contentCardService">
                            <div class="col-12 cardsServices">
                                <img src="/img/customer_support.png" alt="customerSupport" class="servicesImg">
                                <h4 style="text-align: center;">Customer Support Ninja</h4>
                                <br>
                                <p style="color: #fff;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
                                    aliquam voluptate excepturi veritatis voluptatibus cumque. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row contentCardService">
                            <div class="col-12 cardsServices">
                                <img src="/img/UX research.png" alt="UX" class="servicesImg">
                                <h4 style="text-align: center;">UX Research</h4>
                                <br>
                                <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                                    aperiam corporis corrupti, quo earum suscipit laboriosam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div style="background-color: #1e1e1e;" class="col-12">
                    <h1 class="display-4" style="text-align: center; color:#9587cb;">Contact me</h1>
                    <p style="text-align: center; color:#fff">Please fill the form below and I will contact you as soon as possible</p>
                </div>
            </div>
            <div class="row" id="seccionContact">
            <div class="col-10 offset-1" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="margin-top: 50px; margin-bottom: 50px; text-align: center;">
                        <div class="form-group">
                            <input type="text" placeholder=" Your name " class="form-control inputs-form">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder=" Your email address " class="form-control inputs-form" style="color: #1e1e1e;">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder=" Subject " class="form-control inputs-form" style="color: #1e1e1e;">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control inputs-form" placeholder="Write your message here" id="exampleFormControlTextarea1" rows="3" style="color: #1e1e1e;"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg;" style="background-color: #9587cb;"> Send Message </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



 



    {{!-- include template footer --}}
    {{> footer}}
    
    <script src="/js/scripts.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>

    <script>
        const ctx = document.getElementById('chartCSS').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                
                datasets: [{
                    label: '# of Votes',
                    data: [40, 60],
                    backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    '#292829',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        '#615963ED',
                    ],
                    borderWidth: 1
                }]
            },         
        });
    </script>

    <script>
        const ctxhtml = document.getElementById('chartHTML').getContext('2d');
        const chartHTML = new Chart(ctxhtml, {
            type: 'doughnut',
            data: {
                
                datasets: [{
                    label: '# of Votes',
                    data: [40, 60],
                    backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    '#292829',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        '#615963ED',
                    ],
                    borderWidth: 1
                }]
            },         
        });
    </script>

    <script>
        const ctxJ = document.getElementById('chartJ').getContext('2d');
        const chartJ = new Chart(ctxJ, {
            type: 'doughnut',
            data: {
                
                datasets: [{
                    label: '# of Votes',
                    data: [40, 60],
                    backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    '#292829',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        '#615963ED',
                    ],
                    borderWidth: 1
                }]
            },         
        });
    </script>

    <script>
        const ctxN = document.getElementById('chartN').getContext('2d');
        const chartN = new Chart(ctxN, {
            type: 'doughnut',
            data: {
                
                datasets: [{
                    label: '# of Votes',
                    data: [40, 60],
                    backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    '#292829',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        '#615963ED',
                    ],
                    borderWidth: 1
                }]
            },         
        });
    </script>

 
</body>

</html>