footer{
    color: #fff;
    text-align: justify;
}

#footerTop{
    background-color: #1e1e1e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footerBottom{
    background-color: #9587cb;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#footerBottom div p {
    margin-bottom: 0px;
}

#footerTop div img{
    position: absolute;
}

#iconosF p{
    margin-left: 30px;
}

#inputFooter{
    width: 200px;
    border: 2px solid #9587cb;
    background-color: #1e1e1e;
    display: inline;
    margin: 0 auto;
}

#btnFooter{
    background-color: #9587cb;
    border: 2px solid #9587cb;
    width: 55px;
    color: #fff;
    display: inline;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 37px;
    padding-top: 3px;
    padding-left: 8px;
}

#seccionAbout{
    background-color: #9587cb;
    color: #fff;
    margin-top: -5px;
}
#AboutPhoto{
    padding-top: 100px;
    padding-bottom: 100px;
}

#HiremeBtn{
    background-color: #7c6cd8;
    color: #fff;
}

#DownloadBtn{
    background-color: transparent;
    color: #fff;
}

#seccionEx{
    background-image: url("../img/pc1.png");
    background-size: cover;
    padding-top: 200px;
}

#BtnEx{
    background-color: transparent;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border-color: #9587cb;
}

#BtnEx:hover {
    background-color:#9587cb
  }
  
  #exCard{
      margin-top: 40px;
      margin-bottom: 40px;
  }



#frase{
    background-color: #9587cb;
    color: #fff;
    padding-top: 110px;

}

#fraseImg{
    padding-left: 0px;
    padding-right: 0px;
}

#services{
    background-image: url(../img/2.png);
    background-size: cover;
    color: #9587cb;
    text-align: center;
    padding-top: 70px;
}

#servicesCards{
    padding-top: 70px;
    padding-bottom: 70px;
}

.cardsServices{
    border-width:0.5px;
    border-style:solid;
    border-color: #9587cb;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: justify;
}

.contentCardService{
    padding: 25px;
}

.servicesImg{
    height: 30px;
    margin-top: -130px;
    background-color: rgb(43, 37, 46);
}


#seccionContact{
    background-image: url(../img/1.png);
    background-size: cover;
}

.inputs-form{
    background-color: rgba(255, 255, 255, .8);
    
}

#home{
    background-image:url(/img/banner_header.png);
    background-size:cover;
    height: 950px;
    margin-top: -90px;
    margin-bottom: 0px;
    padding-bottom: -5px;
}

.aboutMe{
    margin-top: 50px;
    margin-bottom: 80px;
}




